@font-face {
    font-family: "oswald";
    src: url(../fonts/Oswald/static/Oswald-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: "courgette";
    src: url(../fonts/Courgette/Courgette-Regular.ttf);
    font-weight: normal;
}

h1 h2 h3 h4 h5 h6 {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-family: courgette;
    font-size: 1.5rem;
}

#navbarNav {
    font-family: oswald;
}

.navbar-toggler {
    font-size: 0.5rem;
}

.navbar {
    border-bottom: solid 1px rgba(255, 255, 255, 0.315);
}

.bg-opacite {
    background-color: rgb(0, 0, 0, 0.8);
}

.container-header {
    background: url(../img/header\ -\ copie.jpg) no-repeat center;
    background-size: cover;
}

.nav-link {
    text-decoration: none;
}

.logo-titre {
    padding: 64px 32px 128px 32px;
}

.logo-white {
    height: 50px;
}

.titre {
    color: white;
    text-align: center;
    font-family: courgette;
}

.articles {
    font-family: oswald;
    text-align: center;
    padding: 32px;
}

.titre-articles {
    font-family: courgette;
    padding-top: 16px;
}

h4 {
    font-family: courgette;
    font-size: 1.40rem;
}

.texte-articles {
    font-family: oswald;
    padding-bottom: 16px;
}

.lien-autres {
    font-family: oswald;
    padding-left: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.articles-precedents {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: black;
    color: white;
    padding-bottom: 32px;
}

.categories {
    padding-top: 24px;
}

ul {
    font-size: 0.75rem;
    font-family: oswald;
    list-style: none;
    text-decoration: underline;
}

.liens-footer {
    padding-inline-start: 0px;
}

a {
    color: white;
}

h6 {
    font-family: courgette;
}

form {
    padding-bottom: 24px;
}

.btn {
    color: white;
    border: solid 1px;
}

.fab {
    background-color: white;
    color: black;
    padding: 8px;
}

#icones-liens {
    display: inline;
    padding-left: 0px;
    padding-bottom: 24px;
    text-decoration: none;
}

.inline {
    display: inline;
}

@media only screen and (min-width: 992px) {
    .art {
        padding-bottom: 24px;
    }
    .titre-articles {
        padding-top: 0px;
    }
    h4 {
        font-size: 1.3rem
    }
    .texte-articles {
        font-size: 0.8rem;
    }
    .archives {
        padding-top: 24px;
    }
    .newsletter {
        padding-top: 24px;
    }
}